
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, #93A5CF, #E4EfE9);
    font-family: "Poppins", serif;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 10px;
}

#reviewCard {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#review {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 500px;
    padding: 2rem;
    background: linear-gradient(135deg, #15202B, #1E2A38);
    border-radius: 12px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    transform-style: preserve-3d ;
}

#review h1 {
    color: #fff;
    font-size: 2rem;
}

#textBox {
    width: 92%;
    height: 100px;
    padding: 1rem;
    border: 2px solid #717a84;
    border-radius: 15px;
    font-size: 1rem;
    resize: none;
    margin: 1rem 0;
    transition: all 0.3s ease;
    background-color: #485460;
    color: #fff;
}

#textBox:focus{
    outline: none;
    border-color: #97a8bc;
    box-shadow: 0 0 10px rgba(78, 205, 196, 0.2);
}

#textBox::placeholder{
    color: #fff;
}

#submitReviewBtn {
    width: 92%;
    padding: 1rem;
    border: none;
    border-radius: 15px;
    background: linear-gradient(135deg, #009688, #00695C);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#submitReviewBtn:hover{
    transform: translateY(-2px);
    background: linear-gradient(135deg, #00695C, #009688);
    box-shadow: 0 8px 15px rgba(13, 196, 242, 0.3);
    
}

#reviewContainer {
    padding: 40px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: calc(50% - 20px);
    max-width: 400px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    background: linear-gradient(135deg, #134E5E, #2A7886);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    color: #fff;
    transform-style: preserve-3d ;
}

.card:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(13, 196, 242, 0.3);
}

.card p {
    color: #f6f0f0;
    font-size: 16px;
}

.card h2 {
    margin-bottom: 10px;
}